@charset "UTF-8";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button{
  appearance: none;
  border: none;
}

.target-div-wrapper{
  width: 500px;
  height: 500px;
  border: 1px solid white;
}

.target-div-wrapper > svg{
  width: 100%;
  height: 100%;
}

.indicator-table-wrapper{
  width: 500px;
}

.indicator-table-wrapper tr{
  display: flex;
}

.indicator-table-wrapper th,
.indicator-table-wrapper td{
  flex: 1;
  text-align: center;
}

.initial-span-wrapper{
  position: relative;
  top: calc(100% - 50%);
}

.button-div-wrapper{
  margin: 30px;

}
.button-div-wrapper button{
  width: 100px;
  font-size: 24px;
  color: white;
  border-radius: 5px;
}
.start-button-wrapper{
  background-color: #28a745;
}
.stop-button-wrapper{
  background-color: #dc3545;
}
